*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body{
    font-family: monospace;
    background-color: #353535;
    color: #10c510;
    line-height: 0.8;
}
.big-container{
    width: 100%;
    display: flex;
}
#asci-container {
    word-break: break-all;
    padding: 3em;
    letter-spacing: 7px;
    overflow: hidden;
}
#my-image{
    position: absolute;
    visibility: hidden;
    top: 0;
    z-index: -1;
    width: 75px;
    height: 75px;
}