*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
body{
    font-family: monospace;
    background-color: black;
    color: black;
    overflow: hidden;
    transition: background-color 2s;
}
.big-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#asci-container {
    max-width: 50em;
    word-break: break-all;
    overflow: hidden;
    max-height: 40vh;
    z-index: 10;
}
.title{
    text-align: center;
    margin-top: 1em;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 3;
    
}
h1{
   font-size: 5vw; 
}
#circle {
    border-radius: 50%;
    background-color: #ffffff;
    width: 25vw;
    height: 25vw;
    position: absolute;
    z-index: 2;
    transform: translate(-50%,-50%);
    transition: opacity 2s;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.after-found{
    background-color: white;
    color: black;
}
.opacity-0{
    opacity: 0;
}

